.container-home{
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    position: relative;

    &__title{
        font-size: 24px;
        font-weight: 600;
        line-height: 1.08;
        text-align: left;
    }
}